:root {
  --primary-color: #5c67a8;
  --primary-color-rgb: 92,103,168;
  --color-dark-blue: #101367;
  --color-dark-blue-rgb: 16,19,103;
  /* Button */
  --color-success: #69f0ae;
  --color-success-rgb: 105, 240, 174;
  --color-success-dark: #2bbd7e;
  --color-success-dark-rgb: 43,189,126;
  --color-alert: #f8c291;
  --color-alert-rgb: 248,194,145;
  --color-alert-dark: #f6b93b;
  --color-alert-dark-rgb: 246,185,59;
  --color-danger: #dc3545;
  --color-danger-rgb: 220,53,69;
  --color-danger-dark: #ba0214;
  --color-danger-dark-rgb: 186,2,20;
  /* palette */
  --color-white: #FFFF;
  --color-white-rgb: 255, 255, 255;
  /* transitions */
  --btn-transition-duration: 200ms;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}