:root {
  --color-primary: #69f0ae;
  --color-primary-dark: #2bbd7e;
  --color-secondary: #f8c291;
  --color-secondary-dark: #f6b93b;
  --color-danger: #dc3545;
  --color-danger-dark: #ba0214;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}