.navbar_container {
  display: flex;
  background-color: rgba(var(--primary-color-rgb), 0.5);
  width: 100%;
}

.navbar_btn {
  z-index: 0;
  cursor: pointer;
  position: relative;
  display: flex;
  text-decoration: none;
  cursor: pointer;
  color: var(--color-white);
  font-weight: bold;
  font-size: 16px;
  min-width: 70px;
  padding: 10px;
  transition: all 200ms ease-out;
}

.navbar_btn:after,
.navbar_btn:before {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  content: '';
  display: block;
  height: 0px;
  background-color: rgba(var(--primary-color-rgb), 0.5);
  transition: all var(--btn-transition-duration) ease-out;
}

.navbar_btn:after {
  bottom: 0;
}
.navbar_btn:before {
  top: 0;
}

.navbar_btn:hover {
  color: var(--color-success);
}

.navbar_btn:hover:after,
.navbar_btn:hover:before {
  height: 50%;
}
