.user__container {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    position: relative;
    text-align: center;    
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.user__container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.user__background {
    position: absolute;
    inset: 0;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    z-index: 0 ;
}

.user__header {
    z-index: 1 ;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 8px 8px 0 0;
    background: linear-gradient(rgba(76, 60, 255, 0.25),rgba(235, 6, 235, 0.25)) no-repeat;
    background-size: 100% 50%;
}

.user__avatar {
    z-index: 1 ;
    height: 60px;
    width: 60px;
}

.user_login--name {
    z-index: 1 ;
    font-family: cursive;
    font-size: 16px;
    color: #808080;
}

.user__container h2 {
    font-size: 0.5rem;
    color: teal;
    padding-bottom: 4px;
    width: auto;
    text-align: left;
    margin-left: 10px;
}

.user__login-information {
    z-index: 1 ;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: #b1b0b0;
}

.user__trade-information {
    z-index: 1 ;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

