
.cbutton__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cbutton {
	box-shadow:inset 0px 1px 0px 0px white;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
  backdrop-filter: blur(5px);
  --button-background-opacity: 0.6;
}

.cbutton:active {
	position:relative;
	top:1px;
}

.cbutton:hover {
  backdrop-filter: blur(10px);
  --button-background-opacity: 1;
  box-shadow:inset 0px 2px 0px 0px white, 
                    0 4px 8px 0 rgba(0,0,0,0.2);
}

.cbutton.primary{
  background-color: rgba(var(--color-success-rgb), var(--button-background-opacity));
  border:1px solid var(--color-success-dark);
  color: var(--color-dark-blue);
}
  
.cbutton.secondary{
  background-color:rgba(var(--color-alert-rgb), var(--button-background-opacity));
  border:1px solid var(--color-alert-dark);
  color: white;
}

.cbutton.danger{
  background-color:rgba(var(--color-danger-rgb), var(--button-background-opacity));
  border:1px solid var(--color-danger-dark);
  color: white;
}
